@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,900');

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #554488;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Tag resets */

input,
button,
textarea {
	-webkit-appearance: none;
	background: none;
	outline: 0;
	border: none;
}
input {
	font-size: .9em;
}
p {
	margin: 0;
	line-height: 1.8em;
}
a {
	text-decoration: none;
	color: black;
}

/* Common classes */

.flex-container {
	display: flex;
	display: -webkit-flex;
}
.flex-column {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}
.overflow-hidden {
	overflow: hidden;
}
.flex-shrink {
	flex-shrink: 0;
}
.margin-auto {
	margin: auto;
}
.margin-top20 {
	margin-top: 20px;
}
.margin-top40 {
	margin-top: 40px;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.logo-small {
	margin-right: 6px;
	height: 16px;
}
.font-small {
	font-size: .8em;
	line-height: 1.5em;
}

/* Components */

.button-primary {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	min-width: 170px;
	font-weight: 500;
	color: white;
	background: linear-gradient(225deg, #6753A0 0%, #554488 100%);
	border-radius: 6px;
	cursor: pointer;
}
.button-white {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	min-width: 170px;
	font-weight: 500;
	color: #554488;
	background: white;
	border-radius: 6px;
	cursor: pointer;
}
.input-primary {
	background: #f6f6f6;
	border: 1px solid #e9e9e9;
	padding: 16px;
	border-radius: 6px;
	box-sizing: border-box;
	position: relative;
}

/* Page-specific classes */

.right {
	height: 100vh;
	background: #554488;
	background-size: cover;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	position: relative;
	color: white;
}
.event-name {
	font-size: 2em;
}
.event-info {
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
	padding: 60px;
	border-radius: 6px;
	box-sizing: border-box;
	background: rgba(85,68,136,.8);
	position: relative;
}
.mobile-event-info {
	display: none;
	margin-top: 80px;
	box-shadow: 0 10px 20px rgba(0,0,0,.1);
	padding: 40px;
	border-radius: 6px;
	box-sizing: border-box;
	background: white;
	position: relative;
}
.mobile-event-info h3 {
	padding-right: 20px;
	margin: 30px auto;
	margin-bottom: 10px;
	margin-left: 0;
	font-weight: 800;
	opacity: .2;
}
.mobile-event-info h1 {
	margin: auto;
	font-weight: 800;
}
.event-info h1 {
	margin: auto;
	font-weight: 800;
}
.event-info h3 {
	padding-right: 20px;
	margin: 30px auto;
	margin-bottom: 10px;
	margin-left: 0;
	font-weight: 800;
	opacity: .1;
}
.event-info p {
	font-weight: 300;
}
.event-info .logo {
	margin: auto;
	margin-bottom: 30px;
	height: 40px;
}
.social-container {
	width: 30px;
	height: 30px;
	padding: 12px;
	border-radius: 6px;
	margin-right: 6px;
	cursor: pointer;
}
.social-icon {
	height: 16px;
}
.social-container:hover {
	background: rgba(0,0,0,.2);
}
.logo-flat {
	height: 20px;
	margin-bottom: 20px;
}
.left {
	height: 100vh;
	width: 500px;
	padding: 20px;
	box-sizing: border-box;
	background: white;
}
.event-info {
	z-index: 1000;
	width: 100%;
	max-width: 500px;
}
.form-container {
	width: 500px;
	max-width: 500px;
	min-width: 500px;
	padding: 40px 100px;
	box-sizing: border-box;
}
.form-container .logo {
	height: 46px;
	margin-bottom: 40px;
}
.site-link {
	bottom: 0;
	left: 0;
	height: 80px;
	opacity: .4;
	font-size: .8em;
}
.site-link:hover {
	opacity: 1;
}
.code-cover {
	background: #554488;
	position: absolute;
	margin: auto;
	margin-right: 0;
	opacity: .4;
	background: linear-gradient(225deg, #6753A0 0%, #554488 100%);
	animation: reveal 4s ease-in-out infinite;
}
@keyframes reveal {
	from {
		left: 0;
		right: 100%;
	}
	30% {
		left: 0;
		right: 0;
	}
	70% {
		left: 0;
		right: 0;
	}
	to {
		left: 100%;
		right: 0;
	}
}
.success-wrapper {
	background: white;
	height: 100vh;
	padding: 40px;
	box-sizing: border-box;
}
.success-container h2 {
	margin: 40px auto;
}
.success-container .logo {
	height: 40px;
}

/* Placeholder styles */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.4);
}

/* Responsive styles */

@media screen and (max-width: 1100px) {
	.left {
		width: 400px;
	}
	.form-container {
		width: 400px;
		max-width: 400px;
		min-width: 400px;
		padding: 20px 50px;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 900px) {
	.left {
		height: 100%;
		width: 100%;
		flex-direction: column;
	}
	.right {
		display: none;
	}
	.form-container {
		width: 100%;
		max-width: 500px;
		min-width: 0px;
		padding: 0;
		margin: 140px auto;
		margin-top: 80px;
		box-sizing: border-box;
	}
	.mobile-event-info {
		display: flex;
		display: -webkit-flex;
		background: white;
		box-sizing: border-box;
	}
	.social-container:hover {
		background: #f4f4f4;
	}
}
